# Core Django
Django>=4.2

# REST API & Cross-Origin
djangorestframework>=3.14.0
django-cors-headers>=4.3.0

# Database & File Handling
psycopg2-binary>=2.9.9
Pillow>=10.2.0

# Audit Trail & Logging (Admin Support)
django-simple-history>=3.4.0

# Environment Variable Management
python-dotenv>=1.0.1

# Production Server (Optional for Deployment)
gunicorn>=21.2.0

# Development & Testing Tools
flake8>=6.0.0
black>=23.0.0
jdatetime>=4.1.1
djangorestframework-simplejwt>=5.3.1
drf-spectacular>=0.27.1

django-filter>=24.3
django-cleanup>=8.1.0

# Authentication Security
django-axes>=6.5.0       # Brute-force / login lockout protection
django-redis>=5.4.0      # Redis cache backend for OTP storage
